<nav class="flex-wrap h-20	 flex items-center justify-between bg-white">
  <div class="flex items-center justify-between mb-10 lg:mb-0">
    <button class="flex items-center justify-center border border-green-500 w-10 h-10 text-green-500 rounded-md outline-none lg:hidden ml-auto" @click="navbarOpen = !navbarOpen">
      <i data-feather="menu"></i>
    </button>
  </div>

  <ul class=" lg:block lg:flex flex-col lg:flex-row lg:items-center lg:space-x-20">
    <li class="font-medium text-green-50 text-lg transition ease-in-out duration-300 mb-5 lg:mb-0">
      <a href="/login">Menu</a>
    </li>

    <li class=" font-medium text-green-50 text-lg transition ease-in-out duration-300 mb-5 lg:mb-0">
      <a href="/login">Help</a>
    </li>
    <% if logged_in? %>
      <li class="px-8 font-medium text-green-50 text-lg transition ease-in-out duration-300 mb-5 lg:mb-0">
        <a href="/logout">Logout</a>
      </li>
      <%else %>
      <li class="px-8 font-medium text-green-50 text-lg transition ease-in-out duration-300 mb-5 lg:mb-0">
        <a href="/login">Login</a>
      </li>
    <% end %>

  </ul>
</nav>
